.navbar-form{
	padding-left:38px;
}
.navbar-form button{
	margin-top:5px;
}
b{
	font-weight:normal;
	color:green;
}
.f{
	padding-top:15px;
	margin-left:40px;
}
.f p{
	margin:0px;
}
.title{
	font-size: 16px;
	text-decoration: underline;
}
.preview{
	overflow: hidden;
	word-break: break-all;
	display:block;
	margin-top:5px !important;
	margin-bottom:2px;
}
.append{
	color:green;
}
.link{
	width:350px;
	height:20px;
	overflow: hidden;
	display:block;
	float:left;
	text-overflow:ellipsis; 
}
.intime{
	width:160px;
	display:block;
	float:left;
	padding-left:5px;
}
.pagebar{
	padding-top:70px;
	padding-left: 40px;
}

